@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,800;0,900;1,400;1,500&family=Roboto:ital,wght@1,500&display=swap');


:root {
    --text-color : #F6F6F6;
    --main-color : #7D7C7C;
    --shadow-color : rgba(0, 0, 0, .2);
}

.border {
    height: 2px;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    text-align: center;
}

.container {
    background: transparent;
    border: #7D7C7C;
    color: white;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-top: 5px solid var(--text-color);
    border-bottom: 5px solid var(--text-color);
    border-right: 1px solid var(--text-color);
    border-left: 1px solid var(--text-color);
    transition: .5s ease;
}

.container:hover {
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}

h1 {
    font-size: 24px;
    color: var(--text-color);
}
p {
    font-size: 18px;
}
input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    cursor: pointer;
    display: inline-block;
    padding: 5px 5px;
    background: var(--text-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 15px;
    color: black;
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    margin-top: 2px;
    margin-bottom: 2px;
}
button:hover {
    background: transparent;
    color: var(--text-color);
    border-color: var(--text-color);
}

#hasilBeratBadan {
    font-size: 20px;
    margin-top: 20px;
}

.copyright {
    color: var(--text-color);
}

